.hello {
  color: red;
}
.icon::before {
  content: "";
  height: 100%;
  width: 50px;
  background-color: green;
  display: block;
  position: absolute;
  z-index: 1;
  top: 90%;
}
.icon::after {
  content: "";
  height: 100%;
  width: 50px;
  background-color: red;
  display: block;
  position: absolute;
  z-index: 1;
  border-radius: ;
}
.icon:hover {
  z-index: 10;
}
